{{- $values := readFile "../values.yaml" | fromYaml -}}

releases:
  - name: wireguard
    chart: ../helm-charts/security/wireguard
    installed: {{ and $values.features.security $values.wireguard.enabled }}
    namespace: security
    createNamespace: true
    values:
      - ../values.yaml